.hm-button-home {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 99px;
  font-size: 1.5rem;
  padding: .3rem;
  border: 2px solid transparent;
  background-color: #1f1f1f;
  color: #b3b3b3;
  transition: 0.3s;
}
.hm-button-home:hover {
  cursor: pointer;
  color: #f3f3f3;
  transform: scale(1.05);
}
.hm-button-home:focus {
  outline: none;
}