.sp-search-result__section {
  margin-bottom: 1.5rem;
}
.sp-search-result__label {
  padding-left: 1rem;
}
.sp-search-result__label h2 {
  margin: 0;
}
.sp-search-result__cont-tracks {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sp-search-result__cont-generic-items {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  padding: 5px;
}

.sp-no-search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-no-search__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.sp-no-search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}