:root {
  color: rgba(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: system-ui, Helvetica, sans-serif;
}

* {
  --sb-track-color: transparent;
  --sb-thumb-color: #5f5f5f;
  --sb-thumb-color--hover: #7c7c7c;
  --sb-thumb-color--active: #a7a7a7;
  --sb-size: 14px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background-color: var(--sb-track-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--sb-thumb-color--hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--sb-thumb-color--active);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}


body {
  margin: 0;
}